.general-header {
  background-color: #eaf7fa;
  position: relative;
  z-index: 0;
  background: url("../public/blue-grid.svg"), linear-gradient(#eaf7fa, #eaf7fa);
  background-attachment: fixed;
}

.section-header{
    font-size: 32px;
    line-height: 38.4px;
}

.quick-input{
  border: 1px solid #1F1F1F;
  background: #ffffff;
  font-size: 20px;
  font-weight: 300;
  padding: 18px 24px;
  width: 100%;
  margin-bottom: 32px;
}