html,
body {
  padding: 0;
  margin: 0;
  font-family: "GT Walsheim Pro";
  /* background: linear-gradient(#e66465, #9198e5) !important; */
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #1f1f1f;
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.title-font {
  font-family: "PP Monument Extended";
}

.container {
  padding: 0 1rem;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
}

.scroll-down {
  display: none;
}
.bottom-triangle {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-top: 120px solid transparent;
  z-index: -1;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .scroll-down {
    display: inline-block;
    position: absolute;
    bottom: 20%;
    right: 2rem;
  }
}
